include nmslib.cc
include tests/*.py
include README.md
include requirements.txt
include LICENSE
include tox.ini

recursive-include similarity_search *.cc *.h

global-exclude similarity_search/src/method/lsh.cc
global-exclude similarity_search/src/method/lsh_multiprobe.cc
global-exclude similarity_search/src/method/lsh_space.cc
global-exclude similarity_search/src/method/falconn.cc
global-exclude similarity_search/src/method/nndes.cc
global-exclude similarity_search/src/space/space_sqfd.cc
global-exclude similarity_search/src/main.cc

prune similarity_search/include/falconn
prune similarity_search/test
prune similarity_search/lshkit
