include nmslib.cc
include tests/*.py
include README.md
include requirements.txt
include LICENSE
include LICENSE-Apache-2.0
include tox.ini

recursive-include tensorflow *.cc *.h

recursive-include similarity_search *.cc *.h

global-exclude similarity_search/src/space/space_sqfd.cc
global-exclude similarity_search/src/main.cc

prune similarity_search/test
prune similarity_search/apps
